.container {
  background-image: url('/src/imgs/universo.jpeg');
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  border:  10 px solid green;
}

.container a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.container a:hover {
  background-color: lightgreen;
  color: beige;
  transition: background-color 0.3s ease-in-out;
}

.btn{
  background-color:green
}